<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715030987637-0mkbfpdkpn3thoficscmdmapstgi36mu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715030987637-0mkbfpdkpn3thoficscmdmapstgi36mu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>715030987637-m6bj843oqjh18v2foj20s3kkn0fhmh67.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDIwv_UGTBtI9cP1Ri569yO71RpAMu_7FI</string>
	<key>GCM_SENDER_ID</key>
	<string>715030987637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>space.sookoon.crewpoint.stg</string>
	<key>PROJECT_ID</key>
	<string>crewpoint-stg</string>
	<key>STORAGE_BUCKET</key>
	<string>crewpoint-stg.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715030987637:ios:a4daa6543962aa0e7a093c</string>
</dict>
</plist>